asgiref
beautifulsoup4
boto3
botocore
Django
django-bootstrap-v5
django-dotenv
django-recaptcha
django-ses
django-storages
gunicorn
jmespath
Markdown
packaging
Pillow
psycopg2-binary
python-dateutil
pytz
s3transfer
six
soupsieve
sqlparse
typing_extensions
urllib3
