.container{
    flex-grow: 3;
    margin-top: 5%;
}

.carousel-inner img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

#subscribe-card{
    background-color: lightgrey;
    border: lightgrey;
}
