.container{
    flex-grow: 3;
    margin-top: 5%;
}

.sort-btn{
    margin-bottom: 3%;
}

.card{
    border-radius: 0%;
    border: none;
    height: 100%;
    flex-grow: 3;
    text-align: center;
}

.card img{
    border-radius: 0%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.card:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.025);
    color: grey;
}