.container{
    flex-grow: 3;
    margin-top: 5%;
}

.navbar{
    border-bottom: 2px solid rgb(108, 123, 99);
}

.carousel-inner img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

#subscribe-card{
    background-color: rgb(200, 225, 186);
    border: rgb(230, 230, 230);
}
