{%extends 'base.html'%}
{%block content%}
{% load static %}
<!-- Load CSS -->
<link rel="stylesheet" href="{% static 'css/stylesAllAlbums.css' %}">

<div class="container">
    <div class="row justify-content-center g-3">

        <form action="/albums/" method="GET">
            <button type="submit" name="sortbtn" class="btn btn-outline-dark sort-btn" 
            value="all">
                All
            </button>
            <button type="submit" name="sortbtn" class="btn btn-outline-dark sort-btn" 
            value="observations">
                Observations
            </button>
            <button type="submit" name="sortbtn" class="btn btn-outline-dark sort-btn"
            value="portraits">
                Portraits
            </button>
            <button type="submit" name="sortbtn" class="btn btn-outline-dark sort-btn"
            value="landscapes">
                Landscapes
            </button>
            <button type="submit" name="sortbtn" class="btn btn-outline-dark sort-btn"
            value="bmx">
                BMX
            </button>
            <button type="submit" name="sortbtn" class="btn btn-outline-dark sort-btn"
            value="family">
                Family
            </button>
        </form>
        
            {% if objPage %}
                {% for obj in objPage %}
                    <div class="col-6 col-lg-3">
                        <a href="{{obj.getAbsoluteUrl}}">
                            <div class="card overflow-hidden mb-1">
                                <img src="{{obj.albumimage_set.all.0.image.url}}" 
                                class="mx-auto d-block card-img-top" alt=""/>
                                <div class="card-body">
                                    <p class="card-title flex-grow-1">
                                        {{ obj.title }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}

            {% if objPage.has_other_pages %}
            <div class="btn-group mt-5" role="group" aria-label="Item pagination">
                {% if objPage.has_previous %}
                    <a href="?{% if sortbtn %}sortbtn={{ sortbtn }}&{% endif %}page={{ objPage.previous_page_number }}" class="btn btn-outline-secondary">&laquo;</a>
                {% endif %}

                {% for pageNum in objPage.paginator.page_range %}
                    {% if objPage.number == pageNum %}
                        <button class="btn btn-outline-dark active">
                            <span>{{ pageNum }} <span class="sr-only">(current)</span></span>
                        </button>
                    {% else %}
                        <a href="?{% if sortbtn %}sortbtn={{ sortbtn }}&{% endif %}page={{ pageNum }}" class="btn btn-outline-dark">
                            {{ pageNum }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if objPage.has_next %}
                    <a href="?{% if sortbtn %}sortbtn={{ sortbtn }}&{% endif %}page={{ objPage.next_page_number }}" class="btn btn-outline-dark">&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
    </div>
</div>


{%endblock content%}