{%extends "base.html"%}
{%block content%}

{% load static %}

<!-- Load CSS -->
<link rel="stylesheet" href="{% static 'css/stylesSearch.css' %}">

<div class="container">
    <div class="col-12 mb-0">
        <h3>Search Results</h3>
        <hr>
    </div>
</div>

{% if objPage.object_list.count == 0 %}
<!-- Showing no results -->
<div class="container my-0">
    <p>
        <small>
            <strong>
                Showing {{objPage.object_list.count}} results for '{{searchQuery}}'
            </strong>
        </small>
    </p>
</div>

<div class="container empty">
    <p>
        <strong>
            Suggestions:
        </strong>
    </p>
    <ul>
        <li>
            Make sure all words are spelled correctly.
        </li>
        <li>
            Try different keywords.
        </li>
        <li>
            Try more general keywords.
        </li>
    </ul>
</div>

{% else %}
<!-- Showing X Results -->
<div class="container my-0">
    <p>
        <small>
            <strong>
                Showing {{objPage.object_list.count}} results for '{{query}}'
            </strong>
        </small>
    </p>
</div>

<!-- Paginator of Results -->
<div class="container">
    <div class="row justify-content-center">
        {% if objPage %}
            {% for obj in objPage %}
            <div class="col-6 col-lg-3">
                <a href="{{obj.getAbsoluteUrl}}">
                    <div class="card overflow-hidden mb-1">
                        <img src="{{obj.albumimage_set.all.0.image.url}}" 
                        class="mx-auto d-block card-img-top" alt=""/>
                        <div class="card-body">
                            <p class="card-title flex-grow-1">
                                {{ obj.title }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}

        {% if objPage.has_other_pages %}
        <div class="btn-group mt-5" role="group" aria-label="Item pagination">
            {% if objPage.has_previous %}
                <a href="?{% if query %}q={{ query }}&{% endif %}page={{ objPage.previous_page_number }}" class="btn btn-outline-dark">&laquo;</a>
            {% endif %}

            {% for pageNum in objPage.paginator.page_range %}
                {% if objPage.number == pageNum %}
                    <button class="btn btn-outline-dark active">
                        <span>{{ pageNum }} <span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?{% if query %}q={{ query }}&{% endif %}page={{ pageNum }}" class="btn btn-outline-dark">
                        {{ pageNum }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if objPage.has_next %}
                <a href="?{% if query %}q={{ query }}&{% endif %}page={{ objPage.next_page_number }}" class="btn btn-outline-dark">&raquo;</a>
            {% endif %}
        </div>
        {% endif %}    
    </div>
</div>
{% endif %}

{%endblock content%}
