{%extends "base.html"%}
{%block content%}

<!-- Load Static -->
{% load static %}

<!-- Load CSS -->
<link rel="stylesheet" href="{% static 'css/stylesAbout.css' %}">


<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-8">
            <h3>
                About
            </h3>
            <p>
                Justin Koebele is a photographer based out of Long Island, NY. Primarily shooting film, his goal is to document his life and interests through photography.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-lg-8">
            <img src="{% static 'images/justin-about-1.JPG'%}" alt="Image of Justin">
        </div>
    </div>
</div>

<div id="contact" class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-8">
            <h3>
                Contact
            </h3>
            <p>
                justinkoebelephoto@gmail.com
            </p>
        </div>
    </div>
</div>


{%endblock content%}